*.lo
*.o
*.la
*.a
*.lib
*.so
*.swp
*~
*.pyc
.DS_Store

build/
build-release/
build-debug/
bin/
.idea
.vscode
.ipch
cmake-build-debug/
cmake-build-release/

metabasenet.exe
metabasenet-*
CMakeSettings.json

G*

.vs/
.VSCode*
.testdata

tags
